In [3]:

# create a list of lenght = 10 and access 5th to 8th data.
list1 = [1, 3, 43, 'suraj', 3.4, True, "daniel", 11, 45, 99]
list1[4:9]

[3.4, True, 'daniel', 11, 45]